
@{
    ViewBag.Title = "Groups";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-sm-auto bg-dark" id="admin-sidebar">
    @Html.Partial("_GroupsSideMenu")
</div>
<div class="col" id="admin-content">
    <!--  #### NAVBAR ####  -->
    <nav class="navbar navbar-light bg-light">
        <a href="#" class="navbar-brand">Groepen</a>
        @*<form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Zoeken" aria-label="Zoeken">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Zoeken</button>
            </form>*@
    </nav>
    <!-- Content -->




</div>

