
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<!-- page content -->
<div class="right_col" role="main">
    <div>
        <div class="row top_tiles">
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon"><i class="fa fa-user"></i></div>
                    <div class="count">5</div>
                    <h3>Nieuwe aanmeldingen</h3>
                    <p>Sinds vorige maand.</p>
                </div>
            </div>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon"><i class="fa fa-tint"></i></div>
                    <div class="count">78</div>
                    <h3>Propere luiers</h3>
                    <p>Laagste aantal: Maat 4: 11 stuks</p>
                </div>
            </div>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon"><i class="fa fa-list-ul"></i></div>
                    <div class="count">2534</div>
                    <h3>Dagboek invoeren</h3>
                    <p>Deze maand.</p>
                </div>
            </div>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon"><i class="fa fa-ban"></i></div>
                    <div class="count">4</div>
                    <h3>Onbetaalde facturen</h3>
                    <p>Van vorige maand.</p>
                </div>
            </div>
        </div>
        <div class="row top_tiles">
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon"><i class="fa fa-child"></i></div>
                    <div class="count">76</div>
                    <h3>Kindjes</h3>
                    <p>Laatste aanmelding: 16 april 2018</p>
                </div>
            </div>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon"><i class="fa fa-stethoscope"></i></div>
                    <div class="count">7</div>
                    <h3>Ziekte dagen</h3>
                    <p>Voor <b>2</b> kindjes.</p>
                </div>
            </div>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon"><i class="fa fa-group"></i></div>
                    <div class="count">37</div>
                    <h3>Kindjes aanwezig</h3>
                    <p>Momenteel in alle locaties.</p>
                </div>
            </div>
            <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                    <div class="icon"><i class="fa fa-camera"></i></div>
                    <div class="count">46</div>
                    <h3>Foto's getrokken</h3>
                    <p>Laatste foto: Vandaag om 13:42</p>
                </div>
            </div>
        </div>
    </div>
</div>
